.article {
  padding-top: 96px;
  display: flex;
}
.article-section-image {
  width: 50%;
  padding-left: 230px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 1090px) {
    padding-left: 64px;
  }
}
.article-section-text {
  padding-left: 5%;
  padding-top: 42px;
  width: 50%;
  .title {
    margin: 0px;
    font-size: 42px;
    font-weight: 700;
  }
  .content {
    font-size: 16px;
    width: 70%;
  }
  button {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  button:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 1090px) {
    .content {
      width: 90%;
      padding-right: 5%;
    }
  }
}
@media screen and (max-width: 790px) {
  .article {
    display: block;
  }
  .article-section-text {
    width: 100%;
    padding: 0px;
    p {
      padding: 24px;
    }
    button {
      margin-left: 24px;
    }
  }
  .article-section-image {
    width: 100%;
    padding: 0px;
  }
}
.popup-alert {
  font-size: 42px;
  font-weight: 700;
  padding-left: 96px;
  padding-top: 56px;
}
.popup-info {
  display: flex;
  margin-left: 96px;
  margin-top: 24px;
  p {
    padding-bottom: 56px;
  }
  .button-reset {
    margin-left: 10px;
    margin-top: -12px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 790px) {
  .popup-info {
    display: block;
    p {
    }
    .button-reset {
      padding-bottom: 16px;
      margin-left: 0px;
    }
  }
}
