.popup-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  .content {
    z-index: 10;
    p {
      margin: 0px;
    }
    position: relative;
    background-color: white;
    width: 60%;
    margin: auto;
    min-height: 150px;
    height: fit-content;
  }
  .button-closed {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 16px;
    height: 16px;
  }
  .button-closed:hover {
    cursor: pointer;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 790px) {
  .popup-container .content {
    width: 80%;
  }
}
